body {
  font-family: Helvetica;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/header.png");
  background-position: -215px -35px;
  min-height: 225px;

}

.container {
  text-align: center;
}

.doNotLie {
  font-size: 10px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 25px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}gitter
