html {
  overflow: hidden;
  background-color: #000;
  background-size: 100%;
  background-image: url("../img/introductionBackground.jpg");
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', monospace, Helvetica, sans-serif;
}

body {
  background-color: black;
  margin-left: -100px;
  margin-right: -100px;
}

footer {
  font-family: 'Press Start 2P';
}

/* ---- Jumbotron styling ---- */
.jumbotron {
  background: url("../img/headerSmall.jpg") repeat;
  background-color: green;
  border: 2px groove #BF55Ec;
  margin-top: 15px;
  margin-bottom: 15px;
}

.firstLetter{
  font-size: 150px;
}

.jumbotronH1 h1{
  font-family: 'Press Start 2P';
  font-weight: bold;
  font-size: 90px;
  text-align: right;
  padding-right: 50px;
  letter-spacing: 7px;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  text-decoration: underline;
}

/* ---- End jumbotron styling ---- */

/* ---- Modal styling ---- */
.modal-content {
    font-family: 'Press Start 2P';
}
/* ---- end Modal styling ---- */

.container {
  text-align: center;
  margin-top: 20px;
}

/* ---- The START GAME button ---- */
#start {
  margin-bottom: 100px;
  height: 110px;
  width: 110px;
  border: 9px dashed #fff;
  border-radius: 100px;
  background-color: #F22613;
  box-shadow: 0 0 5px #fff;
}

#start:hover {
  opacity: 0.8;
}
/* ---- End start button ---- */

.introduction {
  font-family: 'Press Start 2P';
  background-position: top;
  background-size: cover;
  background-position: center;
  font-weight: bolder;
  color: #fff;
  margin-top: -10px;
}

.game{
  background-position: bottom;
  background-size: cover;
  display: none;
  text-align: center;
  margin-top: -30px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: #ECECEC;
}

.gameTitle {
  text-align: center;
  width: 100%;
  height: 80px;
  margin-top: -30px;
  padding-bottom: 20px;
}

.doNotLie {
  font-size: 10px;
}

label {
  font-size: 18px;
}

h3 {
  font-size: 35px;
}

h4{
  font-size: 25px;
}

.btn {
  background-color: #FB3D37;
}

.btn:hover {
  opacity: .99;
}

#startOver {
  display: none;
  left: 50%;
}

#showDealer {
  display: none;
}

/* --- Modal CSS --- */
#blackJackRules {
  color: #000;
}


#curHand{
  font-size: 20px;
  color: white;
}

#totalHand{
  color: white;
  font-size: 20px;
}

#dealerHand{
  font-size: 20px;
  color: white;
}
