body {
  font-family: Helvetica;
  background-color: #075220;
}

.jumbotron {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: -193px;
  min-height: 345px;

}

.introduction {
  font-weight: bolder;
  color: #fff;
  opacity: .8;
}

.container {
  text-align: center;
}

.doNotLie {
  font-size: 15px;
}


h3 {
  font-size: 35px;
}

h4{
  font-size: 25px
}
ul {
  padding: 0px;
}

li {
  font-size: 20px;
  list-style-type: none;
}

.btn {
  background-color: #FB3D37;
}

.btn:hover{
  opacity: .99;
}
